<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to root_path do %>
          <%= content_tag :span, "Home", :class => "navbar-wagon-item navbar-wagon-link" %>
          <% end %>

          <%= link_to about_path do %>
            <%= content_tag :span, "About", :class => "navbar-wagon-item navbar-wagon-link" %>
          <% end %>

          <%= link_to projects_path do %>
            <%= content_tag :span, "Projects", :class => "navbar-wagon-item navbar-wagon-link" %>
          <% end %>


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

            <li><%= link_to('Profile', user_path(current_user), class: "fa fa-user") %>
            </li>

            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "fa fa-sign-out") %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

 <!-- Dropdown appearing on mobile only -->
  <% if current_user %>
    <div class="navbar-wagon-item hidden-md hidden-lg hidden-sm">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to 'Profile', user_path(current_user)%></li>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          </ul>
        <%else%>
          <div class="navbar-wagon-item hidden-md hidden-lg hidden-sm">
            <div class="dropdown">
              <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                  <li><%= link_to 'Login', new_user_session_path%></li>
                                  </ul>
              </div>
            </div>
        <% end %>
      </div>
    </div>
</div>

