<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to root_path do %>
          <%= content_tag :span, "Home", :class => "navbar-wagon-item navbar-wagon-link" %>
          <% end %>

          <%= link_to about_path do %>
            <%= content_tag :span, "About", :class => "navbar-wagon-item navbar-wagon-link" %>
          <% end %>

          <%= link_to projects_path do %>
            <%= content_tag :span, "Projects", :class => "navbar-wagon-item navbar-wagon-link" %>
          <% end %>


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

            <li><%= link_to('Profile', user_path(current_user), class: "fa fa-user") %>
            </li>

            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "fa fa-sign-out") %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

 <!-- Dropdown appearing on mobile only -->
  <% if current_user %>
    <div class="navbar-wagon-item hidden-md hidden-lg hidden-sm">
      <div class="dropdown">
        <img class="icon icons8-Sea-Waves" width="50" height="50" data-toggle="dropdown" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAABN0lEQVRoQ+1ZUQ3CUBDrFIAEJIADHGABFIADwAEoAAs4wAGTgARwQJrcyMuyjQuB24P0/SzL63LXdttLcwX+ZBV/wgMikpuTcuSXHLlYsxNn073i216tHYClEdgC2Lwgw/11EH4PYFXvp4kICZDI3cADAAsAxxYyfeBJhISeKyUyM6ZT22XzXAe7no3gye6zwpMI3+1xQo5OkHHlwNwI0JmmlQO+JJESwMiuleq3WsfDxK2KNJ/LBX/VOeL8JYfB5EiY1M5CcsQpVBhMjoRJ7SwkR5xChcG6HOk1XzQo0NmP8kiimPLIJ/OO8khm+UV5JOx88BbSye5VKgonR6KU9taRI16lonByJEppbx3lkZpSmo8AeGf+ovkIJ1iaj9j39M15ivKI9/cehtPJHia1s5AccQoVBnsAtPvXEFPbCBcAAAAASUVORK5CYII=">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to 'Profile', user_path(current_user)%></li>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          </ul>
        <%else%>
          <div class="navbar-wagon-item hidden-md hidden-lg hidden-sm">
            <div class="dropdown">
              <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                  <li><%= link_to 'Login', new_user_session_path%></li>
                                  </ul>
              </div>
            </div>
        <% end %>
      </div>
    </div>
</div>


<a href="https://icons8.com">Icon pack by Icons8</a>
